%h1 Listing fields
=link_to "new field or group", new_admin_metadata_field_path
.row
  .col-lg-9
    %table.table.table-striped
      %tr
        %th
          name
        %th
          type
      -@fields.each do |f|
        %tr
          %td
            = link_to f['name'], admin_metadata_field_path(f['name'])
          %td
            = f['type']
          %td
            = link_to "delete", admin_metadata_field_path(f['name']), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }

%h1 Listing groups
.row
  .col-lg-9
    %table.table.table-striped
      %tr
        %th
          name
      -@groups.each do |f|
        %tr
          %td
            = f['name']
