%h3 Create new metadata field
=simple_form_for 'field', url: admin_metadata_fields_path, method: 'post' do |f|
  =f.input :name, placeholder: "season_name"
  =f.input :type, as: :select, collection: ['date', 'float', 'integer', 'string', 'boolean', 'timecode']
  =f.submit

%h3 Create new metadata field group
=simple_form_for 'group', url: admin_metadata_fields_path, method: 'post' do |f|
  =f.input :name, placeholder: "group_name"
  =f.submit
