%h1 Listing items
=link_to 'new item',  new_admin_item_path
.row
  .col-lg-9
    %table.table.table-striped
      %tr
        %th
          id
        %th
      - @items.each do |item|
        %tr
          %td
            = link_to item['id'], admin_item_path(item['id'])
          %td
            = link_to "Delete", admin_item_path(item['id']), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }
            = link_to 'Add metadata', edit_admin_item_path(item['id'])
