=@item['id']

%hr
Metadata
-@metadata['item'].each do |item|
  -item['metadata']['timespan'].each do |timespan|
    %table.table.table-striped
      %tr
        %th
          name
        %th
          value

      -timespan['field'].each do |field|
        %tr
          %td
            =field['name']
          %td
            =field['value'].first['value']
%hr
SHAPES:
%table.table.table-striped
  %tr
    %th
      id
    %th
      tag
    %th
      mimeType
    %th
      format
    %th
      size
  -@shapes.each do |field|
    %tr
      %td
        =field['id']
      %td
        =field['tag']
      %td
        =field['mimeType']
      %td
        =field['containerComponent']['format']
      %td
        =field['containerComponent']['file'].first['size'] if field['containerComponent']['file']



%hr
%h3 Create new transcode job
=simple_form_for 'job', url: transcode_admin_item_path(@item['id']), method: 'post' do |f|
  =f.input :tag, as: :select, collection: @tags
  =f.submit
