%h1 Listing items
.row
  .col-lg-9
    %table.table.table-striped
      %tr
        %th
          id
        %th
          user
        %th
          started
        %th
          status
        %th
          type
        %th
          priority
        %th

        %th
      - @jobs.each do |job|
        %tr
          %td
            = link_to job['jobId'], admin_job_path(job['jobId'])
          %td
            =job['user']
          %td
            =job['started']
          %td
            =job['status']
          %td
            =job['type']
          %td
            =job['priority']
          %td
            -if job['status'] == 'STARTED'
              = link_to 'ABORT', abort_job_admin_job_path(job['jobId']), data: { confirm: 'Are you certain you want to delete this?' }
