Collection:
=@collection['name']
%br
Items
-@items.each do |item|
  =item
  =link_to "remove from collection", delete_item_admin_collection_path(@collection['id'], item['id'])
%br
Metadata
=@metadata
