%h1 Listing storages
.row
  .col-lg-9
    %table.table.table-striped
      %tr
        %th
          id
        %th
          state
        %th
          type
        %th
          capacity
        %th
          freeCapacity
        %th
          timestamp
        %th
      - @storages.each do |storage|
        %tr
          %td
            =link_to storage['id'], admin_storage_path(storage['id'])
          %td
            =storage['state']
          %td
            =storage['type']
          %td
            =storage['capacity']
          %td
            =storage['freeCapacity']
          %td
            =storage['timestamp']
          %td
            = link_to "Delete", admin_storage_path(storage['id']), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }
