!!!
%html
  %head
    %title Viddashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =link_to "collections", admin_collections_path
    =link_to "items", admin_items_path
    =link_to 'jobs', admin_jobs_path
    %hr
    = yield
